@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #322564;
}

.grayscale-image {
  filter: grayscale(100%);
}

.classic-card {
  padding-top: 24px;
  padding-bottom: 24px;
}

.gg-arrow-up {
  box-sizing: border-box;
  position: relative;
  display: flex;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px
}
.gg-arrow-up::after,
.gg-arrow-up::before {
  content: "";
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 4px
}
.gg-arrow-up::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 7px
}
.gg-arrow-up::before {
  width: 2px;
  height: 20px;
  left: 10px;
  background: currentColor
}

.gg-arrow-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
}
.gg-arrow-down::after,
.gg-arrow-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 4px
}
.gg-arrow-down::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 7px
}
.gg-arrow-down::before {
  width: 2px;
  height: 20px;
  left: 10px;
  background: currentColor
}