@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("assets/jugger.jpg");
  background-repeat: no-repeat;
  background-size: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(0, 0, 0, 0); /* Valor de opacidade: 0.5 */
  font-family: "Nunito", sans-serif;
}

.icon {
  color: rgb(115, 115, 117);

  transition: 0.3s ease-in-out;
}

.icon:hover {
  color: rgb(152, 149, 149);
}

.title {
  font-family: "Anton", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s;
}

/* Transition to a bigger shadow on hover */

.game-card {
  font-family: "Nunito", sans-serif;
  transition: 0.3s ease-in-out;
}

.game-card:hover {
  -webkit-box-shadow: 0px 0px 5px 2px rgb(233, 220, 222);
  -moz-box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 2px rgb(255, 255, 255);
}

.grayscale-image {
  filter: grayscale(100%);
}

.classic-card {
  padding-top: 24px;
  padding-bottom: 24px;
}

.gg-arrow-up {
  box-sizing: border-box;
  position: relative;
  display: flex;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 24px;
}
.gg-arrow-up::after,
.gg-arrow-up::before {
  content: "";
  display: flex;
  box-sizing: border-box;
  position: absolute;
  top: 4px;
}
.gg-arrow-up::after {
  width: 8px;
  height: 8px;
  border-top: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  left: 7px;
}
.gg-arrow-up::before {
  width: 2px;
  height: 20px;
  left: 10px;
  background: currentColor;
}

.gg-arrow-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
}
.gg-arrow-down::after,
.gg-arrow-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: 4px;
}

textarea:focus,
input:focus {
  outline: none;
}

.gg-arrow-down::after {
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(-45deg);
  left: 7px;
}
.gg-arrow-down::before {
  width: 2px;
  height: 20px;
  left: 10px;
  background: currentColor;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c66767;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #494848;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #272727;
}

.wrong-answer {
  animation: shake-wrong 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.correct-answer {
  animation: shake-correct 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: rotate 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake-wrong {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake-correct {
  10%,
  30% {
    transform: translate3d(0, -1px, 0);
    transform: rotate(15deg);
    width: 55%;
  }

  40%,
  50% {
    transform: translate3d(0, 2px, 0);
    transform: rotate(15deg);
    width: 60%;
  }

  60%,
  70% {
    transform: translate3d(0, -4px, 0);

    width: 55%;
  }

  70%,
  99% {
    transform: translate3d(0, 4px, 0);
    width: 50%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(15deg);
  }

  25% {
    transform: rotate(-15deg);
    width: 55%;
  }
  75% {
    transform: rotate(15deg);
    width: 60%;
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-icon-audio {
  0% {
    transform: rotate(25deg);
  }
  25% {
    transform: rotate(-25deg);
  }
  75% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 80%;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #040a0c;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -9px; /* Centers thumb on the track */
  background-color: #808080;
  border-radius: 1rem;
  height: 1.5rem;
  width: 1rem;
}


/*********** Firefox styles ***********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #163a46;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  background-color: #808080;
  border: none; /*Removes extra border that FF applies*/
  border-radius: 1rem;
  height: 2rem;
  width: 1rem;
}

.audio-player-btn {
  color: rgb(0, 131, 143);
}

.audio-player-btn:hover {
  color: rgb(0, 172, 193);
}

.audio-btn {
  animation: rotate-icon-audio 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}



